{% extends 'gestion/base.html' %}

{% block title %}Consultar Paciente{% endblock %}

{% block content %}
<h2>Consultar Paciente</h2>

<form method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="dni" class="form-control" placeholder="Ingrese DNI" value="{{ dni }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

{% if dni %}
    {% if paciente %}
        <div class="alert alert-success">
            <strong>Paciente encontrado:</strong><br>
            <tr>
    <td>{{ paciente.apellido }}</td>
    <td>{{ paciente.nombre }}</td>
    <td>{{ paciente.sexo }}</td>
    <td>{{ paciente.edad }}</td>
    <td>{{ paciente.obra_social }}</td>
    <td>{{ paciente.localidad }}</td>
    <td>
        <a href="{% url 'modificar_paciente' paciente.dni %}" class="btn btn-primary btn-sm">Modificar</a>
    </td>
</tr>

        </div>
    {% else %}
        <div class="alert alert-danger">
            No se encontró un paciente con el DNI: <strong>{{ dni }}</strong>
        </div>
        <a href="{% url 'registrar_paciente' dni=dni %}" class="btn btn-primary">Registrar Paciente</a>
    {% endif %}
{% endif %}
<a href="{% url 'inicio' %}" class="btn btn-secondary mt-3">Volver al inicio</a>
{% endblock %}
