{% extends 'gestion/base.html' %}
{% load static %}  <!-- Esto permite usar archivos estáticos -->

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="text-center my-5">
    <h1 class="mb-4">Bienvenido al Sistema de Turnos Médicos</h1>
    <img src="{% static 'img/medicos_turnos.jpg' %}" alt="Sistema de Turnos Médicos" class="img-fluid rounded" style="max-width: 500px;">
    <p class="mt-4 fs-5 text-muted">Gestione sus turnos médicos de forma sencilla y rápida.</p>
</div>
{% endblock %}
